[submodule "f2022-hexanome-08"]
	path = f2022-hexanome-08
	url = https://github.com/COMP361/f2022-hexanome-08.git
[submodule "LobbyService"]
	path = LobbyService
	url = https://github.com/m5c/LobbyService.git
